$one-hour-width: 250px;
$grid-height: 600px;

$time-height: 27px;

$channel-width: 95px;
$channel-height: 65px;

$grid-border-color: #ccc;

$grid-text-color: #222;

@import "compass/typography";
@import "compass/css3/border-radius";
@import "reset";

#epg-app {
  position: relative;
  width: 100%;
  height: $grid-height;
  overflow-x: auto;
  overflow-y: auto;
}

.epg-grid {
  position: absolute;
}


.epg-time {
  @include nowrap;
  position: fixed;
  list-style-type: none;
  margin: 0 0 0 94px;
  padding: 0;
  height: $time-height;
  line-height: $time-height;
  background-color: #353D61;
  color: #FFF;
  width: 865px;
  z-index: 1;

  border-bottom: 1px solid $grid-border-color;
  overflow: hidden;

  li {
    display: inline-block;
    width: $one-hour-width;
  }
}

.epg-channels {
  width: $channel-width;
  position: fixed;
  margin: 0;
  padding: 34px 0 0;
  border-right: 1px solid $grid-border-color;
  list-style: none;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  height: 584px;

  li {
    height: $channel-height;
  }
}

.epg-grid {
  left: $channel-width;
  top: $time-height;
  width: $one-hour-width * 24;

  a {
    @include border-radius(5px);
    margin: 5px;

    &.odd {
      background-color: #ADE0FF;
    }

    &.even {
      background-color: #EEE;
    }
  }
}

.epg-row {
  height: $channel-height;
  width: 100%;
  position: absolute;

  &:nth-child(2n) {
    background-color: #eee;
  }
}

.epg-programme {
  display: block;
  height: $channel-height;
  line-height: $channel-height;
  position: absolute;
  top: 0;

  @include ellipsis;
  padding: 0 1em;
  border: {
    width: 0 1px 1px 0;
    color: $grid-border-color;
    style: solid;
  }

  &:first-child {
    border-left-width: 1px;
  }
}

.short {
  padding: 0;
  -ms-text-overflow: clip;

  &, &:after {
    color: transparent;
  }

  &:before {
    content: 'i';
    text-align: center;
    color: $grid-text-color;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    font: {
      family: serif;
      size: 1.5em;
      style: italic;
      weight: bold;
    }
  }
}
