$one-hour-width: 250px;
$grid-height: 300px;

$time-height: 27px;

$channel-width: 95px;
$channel-height: 65px;

$grid-border-color: #ccc;

@import "compass/typography";
@import "reset";

#epg-app {
  position: relative;
  width: 100%;
  height: $grid-height;
  overflow-x: auto;
  overflow-y: auto;
}

.epg-channels, .epg-time, .epg-grid {
  position: absolute;
}

.epg-time {
  top: 0;
  left: $channel-width;
  @include nowrap;

  list-style-type: none;
  margin: 0;
  padding: 0;
  height: $time-height;
  line-height: $time-height;

  border-bottom: 1px solid $grid-border-color;

  li {
    display: inline-block;
    width: $one-hour-width;
  }
}

.epg-channels {
  top: $time-height;
  width: $channel-width;

  margin: 0;
  padding: 0;
  border-right: 1px solid $grid-border-color;

  li {
    height: $channel-height;
  }
}

.epg-grid {
  left: $channel-width;
  top: $time-height;
  width: $one-hour-width * 24;
}

.epg-row {
  height: $channel-height;
  width: 100%;
  position: relative;

  &:nth-child(2n) {
    background-color: #eee;
  }
}

.epg-programme {
  display: block;
  height: $channel-height;
  line-height: $channel-height;
  position: absolute;
  top: 0;

  @include ellipsis;
  padding: 0 1em;
  border: {
    width: 0 1px 1px 0;
    color: $grid-border-color;
    style: solid;
  }
}