<div id="epg-app" data-epg>
    <ol class="epg-channels">
        <li data-ng-repeat="channel in channels" id="channel-{{channel.c[0]}}">

            <div class="channel-container" title="{{channel.t}}">
                <img class="channel-image"
                     src="http://tv.sky.com/logo/80/35/skychb{{channel.c[0]}}.png"
                     alt="{{channel.t}}">
            </div>
        </li>
    </ol>

    <ol class="epg-time">
        <li data-ng-repeat="hour in hours">{{hour | date:"h a"}}</li>
    </ol>

    <div class="epg-grid">
        <epg-programme data-ng-repeat="programme in allProgrammesInChannels"/>
    </div>

</div>
<a id="programme-bubble-background" class="bubble-background hide" href="#"></a>
<div id="programme-bubble" class="bubble hide"></div>
