<div id="epg-app" data-epg>
    <ol class="epg-channels">
        <li data-ng-repeat="channel in channels" id="channel-{{channel.c[0]}}">
            <span class="channel-text">{{channel.t}}</span>

            <div class="channel-container" title="{{channel.t}}">
                <img class="channel-image"
                     src="http://tv.sky.com/logo/80/35/skychb{{channel.c[0]}}.png"
                     alt="{{channel.t}}"><span
                    class="channel-number">{{channel.c[1]}}</span></div>
        </li>
    </ol>

    <ol class="epg-time">
        <li data-ng-repeat="hour in hours">{{hour | date:"h a"}}</li>
    </ol>

    <div class="epg-grid">
        <div class="epg-row" data-ng-repeat="(channel, programmes) in allProgrammesInChannels" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-style="{top: channelPosition(channel)}">
            <epg-programme data-ng-repeat="programme in programmes"/>
        </div>
    </div>

</div>
<a id="programme-bubble-background" class="bubble-background hide" href="#"></a>
<div id="programme-bubble" class="bubble hide"></div>
